.header {
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    
}

.navbar a{
    padding: 10px;
 display: inline-block;
 
 text-decoration: none;
 font-size: 15px;
 letter-spacing: 1px;
}

.header a:hover{
    color: black;
}
