.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.blogpost{
    width: 70%;
    background-color:#fff;
}
.sidebar {
    width: 28%;
    background-color:#fff;
}